* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.page-wrap {
  background: url(../images/backgrounds/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100%;
  margin-bottom: -171px;
  position: relative;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after, .form-wrap:after {
  height: 171px;
}

.site-footer {
  background-color: #323232;
  position: relative;
}

.sponsors-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.sponsor-child:not(:last-child) {
  margin-right: 70px;
}


.form-wrap {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - 171px);
  padding: 100px 0;
  /*position: absolute;*/
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 451px;
}

.input {
  height: 75px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 1px #146a9d;
  margin-bottom: 20px;
  padding: 30px;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.4px;
}

::-webkit-input-placeholder { color: #1992e2;  text-transform: uppercase; }
:-moz-placeholder { color: #1992e2;  text-transform: uppercase; }
::-moz-placeholder { color: #1992e2;  text-transform: uppercase; }
:-ms-input-placeholder { color: #1992e2;  text-transform: uppercase; }

.button {
  height: 57px;
  border: 0;
  border-radius: 100px;
  background-color: #dc3f37;
  font-size: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}

.primary-logo {
  margin-bottom: 30px;
}

.secondary-logo {
  margin-top: 88px;
}