* {
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.page-wrap {
  background: url(../images/backgrounds/login.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
    -moz-background-size: cover;
      -o-background-size: cover;
        background-size: cover;

  -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
      -ms-animation: fadein 2s;
        -o-animation: fadein 2s;
          animation: fadein 2s;

  min-height: 100%;
  margin-bottom: -171px;
  position: relative;
}

.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after, .form-wrap:after {
  height: 171px;
}

.site-footer {
  background-color: #323232;
  position: relative;
}

.sponsors-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
}

.sponsor-child:not(:last-child) {
  margin-right: 70px;
}


.form-wrap {
  align-items: center;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100% - 171px);
  padding: 100px 0;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  min-width: 451px;
}

.input {
  height: 50px;
  border-radius: 5px;
  background-color: #ffffff;
  border: solid 3px #bdbdbd;
  margin-bottom: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
  letter-spacing: 0.4px;
}

::-webkit-input-placeholder { color: #a6a6a6;  text-transform: capitalize; font-weight: 100; letter-spacing: 0.4px; }
:-moz-placeholder { color: #a6a6a6;  text-transform: capitalize; font-weight: 100; letter-spacing: 0.4px; }
::-moz-placeholder { color: #a6a6a6;  text-transform: capitalize; font-weight: 100; letter-spacing: 0.4px;}
:-ms-input-placeholder { color: #a6a6a6;  text-transform: capitalize; font-weight: 100; letter-spacing: 0.4px;}

.button {
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #dc3f37;
  cursor: pointer;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 1.3px;
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
}

.primary-logo {
  margin-bottom: 36px;
}

.secondary-logo {
  margin-top: 36px;
}